body {
  text-align: center;
  background-image: url(./images/45-degree-fabric-light.png);
}

.mainContainer {
  margin-top: 300px;
}

.circle {
  border: 1px solid black;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;
  background-color: transparent;
}

.categoryContainer {
    margin-top: 100px;
    background-color: transparent;
    padding: 0 200px;
}

.borderLine {
    border: 1px solid black;
}

.row.borderLine {
    align-items: center;
}